<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDC_sh3iiFY71WBWYtgWTvQA3LeEyYxJRA</string>
	<key>GCM_SENDER_ID</key>
	<string>776040919637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled3</string>
	<key>PROJECT_ID</key>
	<string>grounded-burner-406508</string>
	<key>STORAGE_BUCKET</key>
	<string>grounded-burner-406508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776040919637:ios:53bbff3ed4aa9cec639adc</string>
</dict>
</plist>